@import '~src/assets/base.scss';

@mixin menuPrimeNgBase {
    width: 100%;
    position: relative;
    background-color: $color-grey;
    .main-menu {
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        background-color: #67759b;
        .menu-item {
            font-size: 20px;
            a {
                padding: 0px 20px 0px 30px;
                display: block;
                line-height: 50px;
                color: #ececec;
            }
        }
        ::ng-deep {
            .ui-panelmenu {
                .ui-panelmenu-panel {
                    outline: none;
                    margin-top: 0px;
                    .ui-panelmenu-header {
                        outline: none;
                        .ui-panelmenu-header-link {
                            outline: none;
                        }
                    }
                    .ui-menuitem {
                        .ui-menuitem-link {
                            outline: none;
                            .ui-menuitem-icon {
                                vertical-align: middle !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

.menu {
    @include menuPrimeNgBase;
    ::ng-deep {
        .ui-panelmenu {
            .ui-panelmenu-panel {
                .ui-panelmenu-header {
                    .ui-panelmenu-header-link {
                        padding: 16px 10px 16px 26px !important;
                        .ui-panelmenu-icon {
                            float: right;
                            margin-top: 3px;
                        }
                    }
                }
                .ui-menuitem {
                    .ui-menuitem-link {
                        padding: 16px 10px 16px 26px !important;
                    }
                }
            }
        }
    }
}
.menu-mini {
    @include menuPrimeNgBase;
    ::ng-deep {
        .ui-panelmenu {
            .ui-panelmenu-panel {
                .ui-panelmenu-header {
                    .ui-panelmenu-header-link {
                        padding: 4px !important;
                        text-align: center;
                        .ui-panelmenu-icon {
                            display: none;
                        }
                        .ui-menuitem-icon{
                            font-size: 20px;
                        }
                    }
                }
                .ui-menuitem {
                    .ui-menuitem-link {
                        padding: 4px !important;
                        text-align: center;
                        .ui-menuitem-icon {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}

@mixin collapsed {// 折叠按钮
    position: absolute;
    bottom: 16px;
    width: 24px;
    height: 30px;
    cursor: pointer;
    img {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
    }
}

.fold {
    @include collapsed();
    right: 5%;
}

.rightArrow {
    @include collapsed();
    left: 5%;
}

::ng-deep {
    body .ui-corner-all { // 点击不出现圆角
        border-radius: 0px;
    }
}
