<p class="title" *ngIf="fold && showTitle">
    Menu
</p>
<div class="menu" [ngClass]="{'menu':fold, 'menu-mini': !fold}">
    <p-panelMenu [multiple]="true" [model]="menu" [style]="{'width':'100%'}" class="main-menu"></p-panelMenu>
</div>
<span class="fold" *ngIf="fold" (click)="collapsed()">
<img  src="/assets/images/double_arrow_left.svg" alt="double_arrow_left"/>
</span>
<span class="fold" *ngIf="!fold" (click)="expanded()">
<img  src="/assets/images/double_arrow_right.svg" alt="double_arrow_right"/>
</span>
