.ajaxSection {
    padding: 10px;
}

.typeInput {
    padding: 8px 10px;
    border: 1px solid #005b9f;
    background-color: #fff;
    border-radius: 4px;
    font-size: 14px;
    width: 350px;
    height: 35px;
    color: #2D3540;
    box-sizing: inherit;
    width: 100%;
}

.button {
    padding: 0 50px;
    top: 24px;
    right: 50px;
    font-family: 'graphik-medium';
    color: #FFFFFF;
    font-size: 14px;
    background-color: #005b9f;
    border-radius: 8px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    white-space: nowrap;
    cursor: pointer;
    margin-bottom: 50px;
    border: none;
    outline: none;
    margin-left: 20px;
}

.title {
    font-size: 25pt;
    color: #005b9f;
    margin-bottom: 20px;
    font-weight: bolder;
}

.input_con {
    position: relative;
    display: inline-block;
    margin-right: 20px;
}

.placeholder {
    // position: absolute;
    // top: 23%;
    // left: 1%;
    font-size: 16px;
}

// .arraylist {
//     list-style: none;
//     width: 100%;
//     li {
//         width: 100%;
//         span {
//             width: 10%;
//             display: inline-block;
//         }
//     }
// }

.tableList {
    width: 100%;
    border: 1px solid #ccc;
    border-collapse: collapse;
    th,td {
        border: 1px solid #ccc;
    }
    th {
        width: 25%;
    }
    td {
        text-align: center;
        padding:5px 10px;
        .delButton{
            width: 30px;
        }
    }
}
