<div class="container-layout">

    <aside class="asild-menu" [ngClass]="{'asild-menu':fold, 'fold-asild-menu': !fold}">
        <app-wpc-menu [fold]="fold" [menu]="items" (collapse)="folding($event, data)" (expand)="unfolding($event, data)"></app-wpc-menu>
    </aside>

    <section class="main" [ngClass]="{'main':fold, 'fold-main': !fold}">

        <header class="main-header" *ngIf="showHeader">
            <app-wpc-header></app-wpc-header>
        </header>

        <div class="tab-bar-wrapper">
            <!-- <app-wpc-tab [tabItems]="tabItems" (activeItem)="getActiveItem()" (switchTab)="switchTab($event, item)" (closeTab)="closeTab($event, item)"></app-wpc-tab> -->
            
            <p-tabMenu [model]="tabItems" [activeItem]="getActiveItem()">
                <ng-template pTemplate="item" let-item let-i="index">
                    <a class="tab-item-link" (click)="switchTab($event, item)">
                        <span class="tab-item-text">{{item.name}}</span>
                    </a>
                    <i *ngIf="item.url!=='/flowlayout/rxjs'" (click)="closeTab($event, item)" class="tab-item-close pi pi-times"></i>
                </ng-template>
            </p-tabMenu>
        </div>

        <section class="main-content">
            <router-outlet></router-outlet>
        </section>

        <footer class="main-footer" *ngIf="showFooter">
            <app-wpc-footer></app-wpc-footer>
        </footer>

    </section>
</div>
