@import '~src/assets/base.scss';
// scss混合
@mixin menuBase($menuWidth: $menu-width) {
    width: $menuWidth !important;
    height: auto;
    background: $color-grey;
    position: relative;
    transition: all .2s;
    margin-right: 1px;
    // order: 2;
}

@mixin vertiMainBase {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: $color-mask;
}

@mixin horizMainBase {
    width: 100%;
    display: flex;
    flex: 1;
    background: $color-mask;
}

@mixin MainContent { // 中间内容展示区
    display: flex;
    flex-direction: column;
    flex: 1;
    background: $color-mask;
}

#wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.verti-container-layout {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    // min-height: 100%;

    // overflow-y: auto; // 控制=====》整体有滚动条
    overflow-y: hidden; // 控制整体无滚动条，可实现header，footer定位 （内层有滚动条）

    @include mixin-min-scroll;
    .main {
        @include vertiMainBase;
        .verti-main-content {
            width: 100%;

            // overflow-y: visible; // 控制=====》整体有滚动条
            overflow-y: auto; // 控制路由出口有滚动条，可实现header，footer定位（内层有滚动条）

            @include MainContent;
        }
    }
}

.horiz-container-layout{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    // 实现header，footer是否固定
    
    overflow-y: visible; // 控制=====》内层有滚动条
    // overflow-y: auto;  // 控制=====》整体有滚动条

    @include mixin-min-scroll;
    .main {
        overflow-y: hidden; // // 控制=====》内层有滚动条
        // overflow-y: visible; // 控制=====》整体有滚动条

        @include horizMainBase;
        .horiz-main-content { 
            height: 100%;
            @include MainContent;
        }
    }
}

// 通用部位样式 start
.asild-menu {
    @include menuBase();
}
.hidden-menu {
    width: 0px!important; // 注意这个位置添加!important与折叠方法都起效
    overflow: hidden;
    position: relative;
}
.fold-asild-menu {
    @include menuBase($fold-menu-width);
}

.main-footer, .main-header {
    height: 60px;
    line-height: 60px;
    background: $color-grey;
}

.tab-bar-wrapper{
    width: 100%;
    height: 50px;
    overflow-x: hidden;
    background: white;
    position: relative;
}

.outlet{ // 控制路由出口有滚动条，可实现header，footer定位
    flex: 1;
    overflow-y: auto;
    @include mixin-min-scroll;
}
// 通用部位样式 end
