<div class="container-layout">

    <aside class="asild-menu" [ngClass]="{'asild-menu':fold, 'fold-asild-menu': !fold}">
        <app-wpc-menu [fold]="fold" [menu]="items" (collapse)="folding($event)" (expand)="unfolding($event)"></app-wpc-menu>
    </aside>

    <section class="main" [ngClass]="{'main':fold, 'fold-main': !fold}">

        <header class="main-header" *ngIf="showHeader">
            <app-wpc-header></app-wpc-header>
        </header>

        <div class="tab-bar-wrapper">
            <app-wpc-tab [tabItems]="tabItems" [activeItem]="getActiveItem()" (switchTab)="switchTab($event)" (closeTab)="closeTab($event)"></app-wpc-tab>
        </div>

        <section class="main-content">
            <router-outlet></router-outlet>
        </section>

        <footer class="main-footer" *ngIf="showFooter">
            <app-wpc-footer></app-wpc-footer>
        </footer>

    </section>
</div>

<app-wpc-options></app-wpc-options>
