@import '~src/assets/base.scss';
// scss混合
@mixin menuBase($menuWidth: $menu-width) {
    width: $menuWidth;
    background: $color-grey;
    position: relative;
    transition: all .2s;
    margin-right: 1px;
}

@mixin mainBase {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: $color-grey-blue;
}

.container-layout {
    display: flex;
    min-height: $full-height;
    overflow-x: hidden;
    .asild-menu {
        @include menuBase();
    }
    .fold-asild-menu {
        @include menuBase($fold-menu-width);
    }
    .main {
        @include mainBase;
        @at-root .main-content {
            // 主要内容区 (跳出选择器嵌套)
            flex: 1;
            background: $color-mask;
        }
    }
    .fold-main {
        @include mainBase;
    }
    .main-footer {
        // height: .5rem;
        height: 60px;
        background: $color-grey;
    }
    .main-header{
        // height: .5rem;
        height: 60px;
        background: $color-grey;
        overflow: hidden;
    }

    .tab-bar-wrapper{
        width: 100%;
        // height: .6rem;
        height: auto;
        overflow-x: hidden;
        background: white;
    }
}

::ng-deep {
    body .pi {
        font-size: 30px;
    }
}

@keyframes rotating{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#wpc-theme {
    position: fixed;
    right: -1px;
    top: 160px;
    .theme-button-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        line-height: 48px;
        text-align: center;
        cursor: pointer;
        border-radius: 0;
        margin: 0;
        pointer-events: auto;
        opacity: 0.9;
        z-index: 998;
        background-color: #f44336;
        color: white;
        i {
            animation: rotating 3s linear infinite;
        }
    }
    .theme-dialog{
        width: 300px;
        height: 100vh;
        border: 1px solid blue;
    }
}
