<!-- <app-login-layout> -->
  <div class="form-card">
    <form [formGroup]="loginForm" (ngSubmit)="login(loginForm, $event)">
      <p class="login-title">Sign in</p>
      <div class="login-content">
            <div class="form-item">
                <label for="username-input">Email Address</label>
                <span class="input-box">
                  <input id="username-input" type="text" formControlName="username"
                  [class.input_error_border]="!getControl('username').valid && (getControl('username').dirty || getControl('username').touched)" >
                  <app-prompt-message *ngIf="!getControl('username').valid && (getControl('username').dirty || getControl('username').touched)" [errMsg]="loginForm.getError('UserMail', 'username')? '请输入正确邮箱': ''">
                    <div class="viewContent">
                      <ng-container *ngIf="loginForm.hasError('required', 'username')">请输入用户名</ng-container>
                      <ng-container *ngIf="loginForm.hasError('minlength', 'username')">用户名最小长度是8</ng-container>
                      <ng-container *ngIf="loginForm.hasError('maxlength', 'username')">用户名最大长度是40</ng-container>
                    </div>
                  </app-prompt-message>
                </span>

            </div>


            <div class="form-item">
                <label for="password-input">Enter you password</label>
                <span class="input-box">
                  <input id="password-input" type="text" formControlName="password"
                   [class.input_error_border]="!getControl('password').valid && (getControl('password').dirty || getControl('password').touched)" >
                  <app-prompt-message *ngIf="!getControl('password').valid && (getControl('password').dirty || getControl('password').touched)" [errMsg]="loginForm.getError('userPassword', 'password')? '请输入正确密码格式': ''">
                    <div class="viewContent">
                      <ng-container *ngIf="loginForm.hasError('required', 'password')">请输入用户密码</ng-container>
                      <ng-container *ngIf="loginForm.hasError('minlength', 'password')">用户密码最小长度是8</ng-container>
                      <ng-container *ngIf="loginForm.hasError('maxlength', 'password')">用户密码最大长度是40</ng-container>
                    </div>
                  </app-prompt-message>
                </span>
            </div>

            <div class="form-item-captcha" *ngIf="captchaShow">
              <div class="captcha">
                <input formControlName="captcha"
                [class.input_error_border]="!getControl('captcha').valid && (getControl('captcha').dirty || getControl('captcha').touched)" type="text">
                <app-prompt-message *ngIf="!getControl('captcha').valid && (getControl('captcha').dirty || getControl('captcha').touched)" [errMsg]="loginForm.getError('captchaVaild', 'captcha')? '请输入正确验证码格式': ''">
                  <div class="viewContent">
                    <ng-container *ngIf="loginForm.hasError('required', 'captcha')">请输入验证码</ng-container>
                  </div>
                </app-prompt-message>
                <button type="button" (click)="getCaptcha($event); $event.stopPropagation();">{{captchaContent}}</button>
              </div>
            </div>

            <div class="form-last-go">
              <div class="forget-pw" (click)="goToSetPw('F-Pw')">Forgot Password?</div>
              <div class="reset-pw" (click)="goToSetPw('R-Pw')">Reset Password?</div>
            </div>
      </div>
      <div class="submit-button">
        <button type="submit" [ngClass]="{'desable-submit': !loginForm.valid}" [disabled]="!loginForm.valid">Sign in</button>
      </div>
    </form>
  </div>
<!-- </app-login-layout> -->
