.primeng-ui-wrapper {
    height: auto;
}

// 自适应tooltip
.table-wrapper{
    width: 40%;
    height: 72px;
    line-height: 72px;
    border: 1px solid red;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 15px; 
    padding-top: 3px;
    font-size: 20px;
    margin-bottom: 8px;
    cursor: pointer;
}
.table-wrapper>span{
    display: inline-block;
    width: auto;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
}
.float-wrapper {
    overflow: hidden;
    // border: 5px dotted rgb(240, 9, 240);
}
.wrapperList{
    float: left;
    // border: 2px solid yellowgreen;
}
.wrapper{
    float: right;
    width: 900px;
    // border: 2px solid fuchsia;
}
