<div>
    1.radio button
    <div class="ui-g" style="width:250px;margin-bottom:10px">
        <p-radioButton name="groupname" value="val1" lable="Option 2" [(ngModel)]="selectedValue" StyleClass="radio-format"></p-radioButton>
        <p-radioButton name="groupname" value="val2" [(ngModel)]="selectedValue"></p-radioButton>
    </div>
</div>


<div class="wrapperList">
    <p *ngFor="let list of uiComponentList; let i = index;">{{i+1}}.{{list}}</p>
</div>
<div class="wrapper">
    <h3>width属性</h3>
    <div *ngFor="let i of list;" class="table-wrapper">
        <span pTooltip="{{i.tooltip}}" tooltipPosition="top">{{i.tooltip}}</span>
    </div>
</div>

<h3>Vertical</h3>
<div class="ui-fluid">
    <div class="p-field">
        <label for="firstname1">Firstname</label>
        <input id="firstname1" type="text" pInputText>
    </div>
    <div class="p-field">
        <label for="lastname1">Lastname</label>
        <input id="lastname1" type="text" pInputText>
    </div>
</div>

<h3>Vertical and Grid</h3>
<div class="ui-fluid p-formgrid p-grid">
    <div class="p-field p-col">
        <label for="firstname2">Firstname</label>
        <input id="firstname2" type="text" pInputText>
    </div>
    <div class="p-field p-col">
        <label for="lastname2">Lastname</label>
        <input id="lastname2" type="text" pInputText>
    </div>
</div>

<h3>Horizontal and Fixed Width</h3>
<div class="p-field p-grid">
    <label for="firstname3" class="p-col-fixed" style="width:100px">Firstname</label>
    <div class="p-col">
        <input id="firstname3" type="text" pInputText>
    </div>
</div>
<div class="p-field p-grid">
    <label for="lastname3" class="p-col-fixed" style="width:100px">Lastname</label>
    <div class="p-col">
        <input id="lastname3" type="text" pInputText>
    </div>
</div>

<h3>Horizontal and Fluid</h3>
<div class="ui-fluid">
    <div class="p-field p-grid">
        <label for="firstname4" class="p-col-12 p-md-2">Firstname</label>
        <div class="p-col-12 p-md-10">
            <input id="firstname4" type="text" pInputText>
        </div>
    </div>
    <div class="p-field p-grid">
        <label for="lastname4" class="p-col-12 p-md-2">Lastname</label>
        <div class="p-col-12 p-md-10">
            <input id="lastname4" type="text" pInputText>
        </div>
    </div>
</div>

<h3>Inline</h3>
<div class="p-formgroup-inline">
    <div class="p-field">
        <label for="firstname5" class="p-sr-only">Firstname</label>
        <input id="firstname5" type="text" pInputText placeholder="Firstname">
    </div>
    <div class="p-field">
        <label for="lastname5" class="p-sr-only">Lastname</label>
        <input id="lastname5" type="text" pInputText placeholder="Lastname">
    </div>
    <button pButton type="button" label="Submit"></button>
</div>

<h3>Vertical Checkbox</h3>
<div class="p-field-checkbox">
    <p-checkbox name="city1" value="Chicago" [(ngModel)]="cities1" inputId="city1"></p-checkbox>
    <label for="city1">Chicago</label>
</div>
<div class="p-field-checkbox">
    <p-checkbox name="city2" value="Los Angeles" [(ngModel)]="cities1" inputId="city2"></p-checkbox>
    <label for="city2">Los Angeles</label>
</div>

<h3>Horizontal Checkbox</h3>
<div class="p-formgroup-inline">
    <div class="p-field-checkbox">
        <p-checkbox name="city3" value="Chicago" [(ngModel)]="cities2" inputId="city3"></p-checkbox>
        <label for="city3">Chicago</label>
    </div>
    <div class="p-field-checkbox">
        <p-checkbox name="city4" value="Los Angeles" [(ngModel)]="cities2" inputId="city4"></p-checkbox>
        <label for="city4">Los Angeles</label>
    </div>
</div>

<!-- <h3>Vertical RadioButton</h3>
<div class="p-field-radiobutton">
    <p-radioButton name="city5" value="Chicago" [(ngModel)]="city1" inputId="city5"></p-radioButton>
    <label for="city5">Chicago</label>
</div>
<div class="p-field-radiobutton">
    <p-radioButton name="city6" value="Los Angeles" [(ngModel)]="city1" inputId="city6"></p-radioButton>
    <label for="city6">Los Angeles</label>
</div>

<h3>Horizontal RadioButton</h3>
<div class="p-formgroup-inline">
    <div class="p-field-checkbox">
    <p-radioButton name="city7" value="Chicago" [(ngModel)]="city2" inputId="city7"></p-radioButton>
    <label for="city7">Chicago</label>
    </div>
    <div class="p-field-checkbox">
        <p-radioButton name="city8" value="Los Angeles" [(ngModel)]="city2" inputId="city8"></p-radioButton>
        <label for="city8">Los Angeles</label>
    </div>
</div> -->

<h3>Help Text</h3>
<div class="p-field ui-fluid">
    <label for="username">Username</label>
    <input id="username" type="username" pInputText aria-describedby="username-help">
    <small id="username-help">Enter your username to reset your password.</small>
</div>

<h3>Advanced</h3>
<div class="ui-fluid p-formgrid p-grid">
    <div class="p-field p-col-12 p-md-6">
        <label for="firstname6">Firstname</label>
        <input id="firstname6" type="text" pInputText>
    </div>
    <div class="p-field p-col-12 p-md-6">
        <label for="lastname6">Lastname</label>
        <input id="lastname6" type="text" pInputText>
    </div>
    <div class="p-field p-col-12">
        <label for="address">Address</label>
        <textarea id="address" type="text" rows="4" pInputTextarea></textarea>
    </div>
    <div class="p-field p-col-12 p-md-6">
        <label for="city">City</label>
        <input id="city" type="text" pInputText>
    </div>
    <div class="p-field p-col-12 p-md-3">
        <label for="state">State</label>
        <p-dropdown inputId="state" [options]="states" [(ngModel)]="selectedState" placeholder="Select"
            optionLabel="name"></p-dropdown>
    </div>
    <div class="p-field p-col-12 p-md-3">
        <label for="zip">Zip</label>
        <input id="zip" type="text" pInputText>
    </div>
</div>