<div class="primeng-ui-wrapper">
    <div>
        1.radio button
        <div class="ui-g" style="width:250px;margin-bottom:10px">
            <p-radioButton name="groupname" value="val1" lable="Option 2" [(ngModel)]="selectedValue"
                StyleClass="radio-format"></p-radioButton>
            <p-radioButton name="groupname" value="val2" [(ngModel)]="selectedValue"></p-radioButton>
        </div>
    </div>

    <div class="float-wrapper">
        <div class="wrapperList">
            <p *ngFor="let list of uiComponentList; let i = index;">{{i+1}}.{{list}}</p>
        </div>
        <div class="wrapper">
            <h3>width属性</h3>
            <div *ngFor="let i of list;" class="table-wrapper">
                <span pTooltip="{{i.tooltip}}" tooltipPosition="top">{{i.tooltip}}</span>
            </div>
        </div>
    </div>

    <h3>Advanced</h3>
    <div class="ui-fluid p-formgrid p-grid">
        <div class="p-field p-col-12 p-md-6">
            <label for="firstname6">Firstname</label>
            <input id="firstname6" type="text" pInputText>
        </div>
        <div class="p-field p-col-12 p-md-6">
            <label for="lastname6">Lastname</label>
            <input id="lastname6" type="text" pInputText>
        </div>
        <div class="p-field p-col-12">
            <label for="address">Address</label>
            <textarea id="address" type="text" rows="4" pInputTextarea></textarea>
        </div>
        <div class="p-field p-col-12 p-md-6">
            <label for="city">City</label>
            <input id="city" type="text" pInputText>
        </div>
        <div class="p-field p-col-12 p-md-3">
            <label for="state">State</label>
            <p-dropdown inputId="state" [options]="states" [(ngModel)]="selectedState" placeholder="Select"
                optionLabel="name"></p-dropdown>
        </div>
        <div class="p-field p-col-12 p-md-3">
            <label for="zip">Zip</label>
            <input id="zip" type="text" pInputText>
        </div>
    </div>
</div>