.auth-wrapper {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 64px 88px;
    .auth-container{
        width: 100%;
        height: auto;
        padding: 64px 48px;        
        overflow: hidden;
        background: #fff;
        box-shadow: 0 4px 5px -2px rgba(0,0,0,.2), 0 7px 10px 1px rgba(0,0,0,.14), 0 2px 16px 1px rgba(0,0,0,.12);
        .watch-title{
            color: rgba(0,0,0,.54);
            line-height: 34px;
        }
        p {
            line-height: 28px;
            color: rgba(0,0,0,.54);
            font-size: 14px;
            span {
                text-indent: 30px;
                display: inline-block;
                width: 60%;
                color: #005b9f;
                cursor: pointer;
            }
        }
        .watch-content{
            float: right;
            width: 40%;
            background: #039be5;
            color: #fff;
            margin-right: -48px;
            margin-top: -57px;
            padding: 24px 48px;
            border-radius: 5px 0px 0px 5px;
            .book-auth-key{
                font-size: 18px;
                font-weight: 400;
            }
            .book-auth-message {
                font-size: 14px;
            }
        }
    }
    
}
.card-start-btn{
    margin-top: 24px;
    box-sizing: border-box;
    height: 48px;
    line-height: 48px;
    text-align: center;
    box-shadow: inset 0 1px 0 0 rgba(0,0,0,.12);
    button {
        font-size: 14px;
        font-weight: 600;
        color: #039be5;
        outline: none;
        border: none;
        cursor: pointer;
        display: inline-block;
        white-space: nowrap;
        text-decoration: none;
        vertical-align: baseline;
        text-align: center;
        margin: 0;
        min-width: 64px;
        line-height: 36px;
        padding: 0 16px;
        border-radius: 4px;
        background: transparent;
        overflow: visible;
        &:hover {
            background-color: rgba(135, 206, 250, 0.2);
        }
    }
}
