.datepicker-icon{
    display:inline;
    float: right;
    color:#005b9f;
    position: absolute;
    right: 10px;
    top: 15%;
}

.mock_label{
    position: relative;
    display: block;
    width: 350px;
    height: 40px;
    padding-right: 35px;
    padding-left: 16px;
    font-size: 14px;
    line-height: 40px;
    color: #2D3540;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #005b9f;
    border-radius: 4px;
    cursor: pointer;
}
.hidden{
    display: inline-block;
    width: 0px;
    outline: none;
    height: 0px;
    border: none;
    position: absolute;
    top: 40px;
    left: 170px;
    opacity: 0;
}
.Grey{
  background: #f5f5f5;
  border: 1px solid #535353;
  color: #535353;
}
.Grey .datepicker-icon{
  color: #535353;
}
.error_msg{
  background: #FFF1F4;
  border: 1px solid #B50128;
  color: #B50128;
}
.error_msg .datepicker-icon{
  color: #B50128;
}