<section class="auto_search_con">
    <dynamic-shared-component [FieldNo]="Question.QuestionNo" [inputHTML]="Question.QuestionDesc" [validataion]="Question.Validation"
        [title]="Question.Tooltip">
    </dynamic-shared-component>
    <input aria-label="input" class="identifier_input" type="text" [(ngModel)]="seartchValue" (blur) = "blurCheck()" (keyup)="keyupSearchFn($event)" />
    <div *ngIf="flage.toggle">
        <section class="search_results" (click)="$event.stopPropagation();">
            <ul>
                <li *ngFor="let result of searchResults;let i = index;" (click)="reslultSelectItemFn(result);$event.stopPropagation();" class="search_item">
                    {{result.IntermediaryName}}
                </li>
                <div *ngIf="!flage.load && flage.error" class="error">
                    an error occured
                </div>
                <div class="Portrait-loader" *ngIf="flage.load">
                    <div class="dot">
                        <div class="first"></div>
                    </div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                </div>
            </ul>
        </section>
    </div>
    <ng-container *ngIf="Question.updated && !Question.validated">
        <dynamic-ErrorMsg-component [validataion]="Question.Validation">
        </dynamic-ErrorMsg-component>
    </ng-container>
</section>