/* You can add global styles to this file, and also import other style files */

@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/primeng/resources/themes/nova-light/theme.css";
@import "../node_modules/primeng/resources/primeng.min.css";
@import './assets/base.scss';
html {
    // font-size: 100px;
    width: 100%;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

body {
    // font-size: .25rem;
    color: #000;
    width: 100%;
    height: 100%;
    @include mixin-min-scroll;
}

// 布局title
.title {
    font-size: 16px;
    line-height: 60px;
    color: $color-white;
    text-align: center;
    background-color: $color-black;
}

// primeNG style

.pramary-button{
    // box-sizing: border-box;
    box-sizing: content-box;
    position: relative;
    padding: 0.429em 1em;
    text-decoration: none!important;
    cursor: pointer;
    text-align: center;
    zoom: 1;
    overflow: visible;
    display: inline-block;
    border-radius: 3px;
    margin: 0;
    color: #ffffff;
    background-color: #007ad9;
    border: 1px solid #007ad9;
    font-size: 14px;
    transition-property: background-color, box-shadow;
    transition-duration: 0.2s, 0.2s;
    transition-timing-function: ease, ease;
    transition-delay: 0s, 0s;
    margin-right: 40px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
}

@media only screen and (max-width: 1920px) and (min-width:1680px) {}

@media only screen and (max-width: 1680px) and (min-width:1600px) {}

@media only screen and (max-width: 1600px) and (min-width:1440px) {}

@media only screen and (max-width: 1440px) and (min-width:1360px) {}

@media only screen and (max-width: 1360px) and (min-width:1280px) {}

@media only screen and (max-width: 1280px) and (min-width:1080px) {}

@media only screen and (max-width: 1080px) and (min-width:960px) {}

@media only screen and (max-width: 960px) and (min-width:800px) {}

@media only screen and (max-width: 800px) and (min-width:720px) {}

@media only screen and (max-width: 720px) and (min-width:640px) {}

@media only screen and (max-width: 640px) and (min-width:600px) {}

@media only screen and (max-width: 600px) and (min-width:540px) {}

@media only screen and (max-width: 540px) and (min-width:480px) {}

@media only screen and (max-width: 480px) and (min-width:414px) {}

@media only screen and (max-width: 414px) and (min-width:400px) {}

@media only screen and (max-width: 400px) and (min-width:375px) {}

@media only screen and (max-width: 375px) and (min-width:360px) {}

@media only screen and (max-width: 360px) and (min-width:320px) {}

@media only screen and (max-width: 320px) and (min-width:240px) {}

@media only screen and (max-width: 240px) {}
