.books-list{
    width: 100%;
    // height: 100%;
    background-color: #f5f5f5;
    padding: 10px;
    .choose-wrapper{
        display: flex;
        justify-content: center;
        div {
            margin-right: 10px;
        }
    }
    .pipeFilter{
        width: 260px;
        height: 40px;
        margin: 14px;
    }
}

.list-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden; // 这个对ng-template渲染很重要，加上才能渲染到父组件下
}

