@import '~src/assets/base.scss';

.markdown-main-content {
    padding: 30px;
    background: $backColorOpacity;
    .variable-binding {
        display: block;
        font-size: 16px;
        margin-bottom: 20px;
    }
}