<div id="wpc-theme">
    <span class="theme-button-setting" *ngIf="!showSetting" (click)="showSettingDialog($event)">
        <i class="pi pi-cog"></i>
    </span>
    <div class="theme-dialog">
        <h3>
            Theme Options
            <span class="theme-button-close" (click)="closeSettingDialog($event)">
                <i class="pi pi-times"></i>
            </span>
        </h3>
        <form [formGroup]="form">
            <app-theme-solt [title]="list[0].name">
                <div class="content">
                    <div class="p-col-12 form-row">
                        <p-radioButton name="colorTheme" value="Default Light" label="Default Light" formControlName="colorTheme"></p-radioButton>
                    </div>
                    <div class="p-col-12 form-row">
                        <p-radioButton name="colorTheme" value="Yellow Light" label="Yellow Light" formControlName="colorTheme"></p-radioButton>
                    </div>
                    <div class="p-col-12 form-row">
                        <p-radioButton name="colorTheme" value="Blue-Gray Dark" label="Blue-Gray Dark" formControlName="colorTheme"></p-radioButton>
                    </div>
                    <div class="p-col-12 form-row">
                        <p-radioButton name="colorTheme" value="Pink Dark" label="Pink Dark" formControlName="colorTheme"></p-radioButton>
                    </div>
                </div>
            </app-theme-solt>
            <div formGroupName="layout">
                <app-theme-solt [title]="list[1].name">
                    <div class="content">
                        <div class="p-col-12 form-row">
                            <p-radioButton name="style" value="Vertical Layout #1" label="Vertical Layout #1" formControlName="style"></p-radioButton>
                        </div>
                        <div class="p-col-12 form-row">
                            <p-radioButton name="style" value="Horizontal Layout #1" label="Horizontal Layout #1" formControlName="style"></p-radioButton>
                        </div>
                    </div>
                    <div class="content-children">
                        <ng-container *ngIf="list[1].children.length">
                            <ng-container *ngFor="let item of list[1].children; let i = index;">
                                <app-theme-solt [title]="item.name">
                                    <div class="content">
                                        <ng-container [ngSwitch]="i">
                                            <ng-container *ngSwitchCase="0">
                                                <div class="p-col-12 form-row">
                                                    <p-radioButton name="width" value="Fullwidth" label="Fullwidth" formControlName="width"></p-radioButton>
                                                </div>
                                                <div class="p-col-12 form-row">
                                                    <p-radioButton name="width" value="Boxed" label="Boxed" formControlName="width"></p-radioButton>
                                                </div>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="1">
                                                <div formGroupName="navbar">
                                                    <div class="p-col-12 form-row">
                                                        <p-inputSwitch formControlName="Nhidden"></p-inputSwitch>
                                                        <span class="switchLabel"> Hide </span>
                                                    </div>
                                                    <div class="p-col-12 form-row">
                                                        <p-inputSwitch formControlName="folded"></p-inputSwitch>
                                                        <span class="switchLabel"> Folded </span>
                                                    </div>
                                                    <div class="p-col-12 form-row">Position:</div>
                                                    <div class="p-col-12 form-row">
                                                        <p-radioButton name="navbarPosition" value="Left" label="Left" formControlName="navbarPosition"></p-radioButton>
                                                    </div>
                                                    <div class="p-col-12 form-row">
                                                        <p-radioButton name="navbarPosition" value="Right" label="Right" formControlName="navbarPosition"></p-radioButton>
                                                    </div>
                                                    <div class="p-col-12 form-row">
                                                        Background:
                                                        <button class="pramary-button options-layout-button" (click)="resetNavBgColor($event)">reset</button>
                                                    </div>
                                                    <div class="p-col-12 form-row">
                                                        <div class="palette" #navbarPaletteColor>
                                                            <input type="color" formControlName="Nbackground">
                                                            <i class="pi pi-palette wpc-palette"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="2">
                                                <div formGroupName="toolbar">
                                                    <div class="p-col-12 form-row">
                                                        <p-inputSwitch formControlName="Thidden"></p-inputSwitch>
                                                        <span class="switchLabel"> Hide </span>
                                                    </div>
                                                    <div class="p-col-12 form-row">Position:</div>
                                                    <div class="p-col-12 form-row">
                                                        <p-radioButton name="toolbarPosition" value="Above" label="Above" formControlName="toolbarPosition"></p-radioButton>
                                                    </div>
                                                    <div class="p-col-12 form-row">
                                                        <p-radioButton name="toolbarPosition" value="Below Static" label="Below Static" formControlName="toolbarPosition"></p-radioButton>
                                                    </div>
                                                    <div class="p-col-12 form-row">
                                                        <p-radioButton name="toolbarPosition" value="Below Fixed" label="Below Fixed" formControlName="toolbarPosition"></p-radioButton>
                                                    </div>
                                                    <div class="p-col-12 form-row">
                                                        <p-checkbox name="TcustomBackgroundColor" label="Use custom bgColor" formControlName="TcustomBackgroundColor" binary="true"></p-checkbox>
                                                        <!-- 一定注意：prime 加 binary="true" -->
                                                    </div>
                                                    <div class="p-col-12 form-row">Background:</div>
                                                    <div class="p-col-12 form-row">
                                                        <div class="palette" #toolbarPaletteColor>
                                                            <input #colorSelector type="color" formControlName="Tbackground">
                                                            <i class="pi pi-palette wpc-palette"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="3">
                                                <div formGroupName="footer">
                                                    <div class="p-col-12 form-row">
                                                        <p-inputSwitch formControlName="Fhidden"></p-inputSwitch>
                                                        <span class="switchLabel"> Hide </span>
                                                    </div>
                                                    <div class="p-col-12 form-row">Position:</div>
                                                    <div class="p-col-12 form-row">
                                                        <p-radioButton name="footerPosition" value="Above" label="Above" formControlName="footerPosition"></p-radioButton>
                                                    </div>
                                                    <div class="p-col-12 form-row">
                                                        <p-radioButton name="footerPosition" value="Below Static" label="Below Static" formControlName="footerPosition"></p-radioButton>
                                                    </div>
                                                    <div class="p-col-12 form-row">
                                                        <p-radioButton name="footerPosition" value="Below Fixed" label="Below Fixed" formControlName="footerPosition"></p-radioButton>
                                                    </div>
                                                    <div class="p-col-12 form-row">
                                                        <p-checkbox name="FcustomBackgroundColor" label="Use custom bgColor" formControlName="FcustomBackgroundColor"
                                                        binary="true"></p-checkbox>
                                                        
                                                    </div>
                                                    <div class="p-col-12 form-row">Background:</div>
                                                    <div class="p-col-12 form-row">
                                                        <div class="palette" #footerPaletteColor>
                                                            <input #colorSelector type="color" formControlName="Fbackground">
                                                            <i class="pi pi-palette wpc-palette"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-container>
                                        </ng-container>
                                    </div>
                                </app-theme-solt>
                            </ng-container>
                        </ng-container>
                    </div>
                </app-theme-solt>
            </div>
        </form>
    </div>
</div>
