@import '~src/assets/base.scss';

::ng-deep {
    body .pi {
        font-size: 30px;
    }
}

@keyframes rotating{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#wpc-theme {
    position: fixed;
    right: -380px;
    top: 0px;
    z-index: 101;
    background-color: rgba($color: #000000, $alpha: .8);
    box-sizing: border-box;
    .theme-button-setting {
        position: absolute;
        left: -48px;
        top: 109px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        line-height: 48px;
        text-align: center;
        cursor: pointer;
        border-radius: 0;
        margin: 0;
        pointer-events: auto;
        opacity: 0.9;
        z-index: 998;
        background-color: #f44336;
        color: white;
        i {
            animation: rotating 3s linear infinite;
        }
    }
    .theme-dialog{
        width: 380px;
        height: 100vh;
        color: #fff;
        box-sizing: border-box;
        padding: 10px;
        .theme-button-close {
            float: right;
            cursor: pointer;
            color: #f4f4f4;
            margin-top: 2px;
        }
        form {
            // &:hover{ 用指令实现一下
            //     &::-webkit-scrollbar-track{
            //         -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            //         border-radius: 10px;
            //         background-color: #F5F5F5;
            //     }
            //     &::-webkit-scrollbar{
            //         width: 4px;
            //         height: 4px;
            //         background-color: #F5F5F5;
            //     }
            //     &::-webkit-scrollbar-thumb{
            //         border-radius: 10px;
            //         -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
            //         background: rgba(0,0,0,.26);
            //     }
            // }
            height: 85%;
            overflow: auto;
            @include mixin-hidden-scroll;
        }
    }
}

.form-row{
    height: 32px;
    line-height: 32px;
    .switchLabel{
        position: relative;
        top: -6px;
    }
}
.palette{
    width: 50px;
    height: 30px;
    box-sizing: border-box;
    position: relative;
    color: #8dcdff;
    input {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        z-index: 1000;
    }
    .wpc-palette {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 10;
    }
}
